@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
}
.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: black;
        h1{
            font-family: 'Russo One', sans-serif;
            font-size: 100px;
            color: #4CAF50;
        }

        .btn_click{
            font-family: 'Orbitron', sans-serif;
            padding: 20px 35px;
            margin-top: 4.5rem;
            border: none;
            outline: none;
            background-color: #4CAF50;
            color: black;
            font-size: 20px;
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
            cursor: pointer;
        }
        .btn_click:hover{
            box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
            background-color: #b6e3b5;
            color: #4CAF50;
            animation-name: jello;
            -webkit-animation-name: jello;
            -moz-animation-name: jello;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
        }
}


@keyframes jello {
    from,11.1%,to {transform: translate3d(0, 0, 0);}
    22.2% {transform: skewX(-12.5deg) skewY(-12.5deg);}
    33.3% {transform: skewX(6.25deg) skewY(6.25deg);}
    44.4% {transform: skewX(-3.125deg) skewY(-3.125deg);}
    55.5% {transform: skewX(1.5625deg) skewY(1.5625deg);}
    66.6% {transform: skewX(-0.78125deg) skewY(-0.78125deg);}
    77.7% {transform: skewX(0.390625deg) skewY(0.390625deg);}
    88.8% {transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}
.object-blur2{
    position: absolute;
    top: 0;
    left: -2rem;
    width: 15%;
    height: 26%;
    background-color : #4CAF50;
    filter: blur(300px);
    border-radius: 50%;
    z-index: 1;
    animation: moveInfinity 30s linear infinite;
}

@keyframes moveInfinity{
    0% { top: 0; left: 0; }
    50% { top: 100%; left: 100%; }
    100% { top: 0; left: 0; }
}
